*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  padding: 0;
}

body {
  all: inherit;
  overflow-x: hidden;
  background-color: $main-bg-grey;
  font-family: 'Inter';
}

p {
  font-weight: 400;
  color: $main-light-grey;
}

header,
main,
footer {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
}
