header {
    max-width: 100%;
}

@media only screen and (max-width : 1110px)  {

    header {
        max-width: 100%;
    }

}


@media only screen and (max-width : 992px)  {

    header {
        max-width: 100%;
    }

}


@media only screen and (max-width : 768px)  {

    header {
        max-width: 100%;
    }

}


@media only screen and (max-width : 576px)  {

    header {
        max-width: 100%;
    }

}

@media only screen and (max-width : 375px)  {

    header {
        max-width: 100%;
    }

}